@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;

}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #252422;
}

p {
  font-size: 1rem;
  color: #3F3D39;
}