@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151517;
  
  font-family: "Poppins", sans-serif;
  
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color:#fff
  /* color: #252422; */
}

h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  /* color: #252422; */
}

h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  /* color: #252422; */
}

p {
  color: #ccc;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 200%;
  /* color: #3F3D39; */
}

input {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  /* color: #3F3D39; */
}

select {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  /* color: #3F3D39; */
}

.tab-gradient {
  background: linear-gradient(to right, #45086F 80%, #202020 100%);
  /* background: linear-gradient(to right, #45086F 80%, #45086F 100%); */
}
